html {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  width: calc(100vw - 5%);
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: inherit;
    text-decoration: inherit;
  }
}
