.error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;

    .code {
        font-size: 5em;
        color: $brand-color;
    }
    .message {
        font-size: 1.5em;
        color: $text-color;
    }
}