<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="../styles/style.css">

        <title>SPMod.eu - Builds</title>
    </head>
    <body>
        <div class="container">
            <headear class="header"><a href="/" class="brand">SPMod</a></headear>
            <main class="content">
                {{{body}}}
            </main>
        </div>
       <footer class='footer'>
            <span>
                © Copyright 2019 - 2022
                <a href='https://github.com/macotsuu'> macotsuu</a>
            </span>
        </footer>
    </body>
</html>